$I3CONFIG
#
# When changing this information, be sure you don't remove the tildes!
# Set autoconnect to 1 to automatically connect at bootup.
# This information can be edited online using 'i3 config'
thismud      ResortMUD4.0Beta~
autoconnect  0
telnet       Your Telnet Address Here~
web          Your Web Address Here~
adminemail   Your Admin Email Here~
openstatus   ResourtMUD 4 Development Site~
mudtype      Smaug~
basemudlib   ResortMUD 4.0 Beta~
mudlib       ResortMUD 4.0 Beta~
driver       Alsherok~
minlevel     10
#
# The router information. Currently only one.
# Information below this point cannot be edited online.
router       us-1.i3.intermud.org~
port         9000
routername   *gjs~
#
# The services provided by your mud.
# Do not turn things on unless you KNOW your mud properly supports them!
# Refer to http://www.intermud.org for public packet specifications.
tell         1
beep         1
emoteto      1
who          1
finger       1
locate       1
channel      1
news         0
mail         0
file         0
auth         0
ucache       1
#
# Port numbers for OOB services. Leave as 0 if your mud does not support these.
smtp         0
ftp          0
nntp         0
http         0
pop3         0
rcp          0
amrcp        0
end
$END
